---
import type { AstroComponentFactory } from 'astro/runtime/server/index.js';
import Container from '@components/Container.astro';
import ListTitle from '@components/ListTitle.astro';
import { BLOG } from '@consts';
import PageLayout from '@layouts/PageLayout.astro';
import { getReadInfo } from '@lib/html';
import { cn } from '@lib/utils';
import articleStyles from '@styles/article.module.css';
import { getCollection, getEntry, render } from 'astro:content';
import dayjs from 'dayjs';

const data = (await getCollection('journals')).sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
const yearsList = new Map<number, {
  Content: AstroComponentFactory;
  dateString: string;
  timeToRead: number;
  wordCount: number;
}[]>();
for (const item of data) {
  const year = item.data.date.getFullYear();
  const dateString = dayjs(item.data.date).format('MM-DD');
  const entry = await getEntry({ collection: 'journals', id: item.id });
  const { timeToRead, wordCount } = getReadInfo(entry.body || '');
  const value = {
    Content: (await render(item)).Content,
    dateString,
    timeToRead,
    wordCount,
  };
  if (yearsList.has(year)) {
    yearsList.get(year)!.push(value);
  }
  else {
    yearsList.set(year, [value]);
  }
}
const orderedYears = Array.from(yearsList.keys()).sort((a, b) => b - a);
---

<style lang="postcss">
.note.note.note {
  @apply my-0 py-8 pl-52;
  @apply sm:pl-8 sm:pr-0 md:pl-24 lg:pl-40;
  &::before {
    @apply bg-palette-accent absolute block h-full w-1;
    @apply left-28 sm:left-1 sm:ml-px sm:w-0.5 md:left-16 lg:left-20;
    transition:
      background 0.25s var(--ease-in-out-quad),
      border 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
    content: '';
  }
  &:last-of-type::before {
    @apply rounded-b;
  }
  &:first-of-type::before {
    @apply rounded-t;
  }
  &::after {
    @apply border-palette-secondary absolute left-28 top-24 ml-6 mt-[13px] h-px w-[72px] border-b border-solid;
    @apply sm:hidden lg:left-20 lg:w-14;
    @apply md:border-palette-card/0 md:border-r-palette-card;
    @apply md:left-12 md:top-20 md:mt-6 md:h-4 md:w-6 md:border-x-[12px] md:border-y-8;
    @media screen(md) {
      box-shadow:
        0 30px 60px -10px rgba(0, 0, 0, 0.2),
        0 18px 36px -18px rgba(0, 0, 0, 0.22);
    }
    transition:
      background 0.25s var(--ease-in-out-quad),
      border-color 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
    content: '';
  }
}
:global(.dark) .noteContent {
  box-shadow: inset 0px 1px 0 0 #ffffff1d;
}

.noteContent {
  box-shadow:
    0 30px 60px -10px rgba(0, 0, 0, 0.2),
    0 18px 36px -18px rgba(0, 0, 0, 0.22);
  &::before {
    @apply absolute left-0 top-5 h-28 w-px;
    @apply sm:hidden md:hidden;
    transition:
      background 0.25s var(--ease-in-out-quad),
      border 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
    content: '';
    background: linear-gradient(
      180deg,
      theme(colors.palette.secondary/0) 0,
      theme(colors.palette.secondary/100) 50%,
      theme(colors.palette.secondary/0) 100%
    );
  }
}
:global(.dark) {
  .noteContent {
    box-shadow: inset -1px 1px 0 0 #ffffff5d;
  }
}

.date {
  &::before {
    @apply border-palette-secondary absolute h-4 w-4 rounded-lg border;
    @apply bg-palette-bg left-24 top-1.5 ml-2.5;
    @apply sm:-left-11 md:left-20;
    transition:
      background 0.25s var(--ease-in-out-quad),
      border 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
    content: '';
  }
  &::after {
    @apply bg-palette-secondary absolute h-2 w-2 rounded-lg;
    @apply left-24 top-1.5 ml-3.5 mt-1;
    @apply sm:-left-11 md:left-20;
    transition:
      background 0.25s var(--ease-in-out-quad),
      border 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
    content: '';
  }
}
</style>

<PageLayout description={BLOG.DESCRIPTION} title={BLOG.TITLE}>
  <ListTitle
    description="随手记录不成熟的想法"
    title="周骅的博客 - 所有随笔"
  />
  <Container>
    <ul class="colorModeTransition text-palette-primary">
      {orderedYears.map(year => (
        <li class="relative mb-20">
          <div
            class={cn(
              'absolute -top-9 left-16 ml-3 sm:left-0 md:left-0 md:ml-1 lg:left-2',
              'font-monospace text-3xl font-semibold text-palette-accent',
              'colorModeTransition',
            )}
            id={`journals${year}`}
          >
            {year}
          </div>
          <ul>
            {yearsList.get(year)?.map(({ Content, dateString, timeToRead, wordCount }) => (
              <li
                class={cn(
                  articleStyles.ArticleBody,
                  'note',
                  'relative z-10 flex max-w-none flex-col justify-center',
                  'colorModeTransition',
                )}
                id={`journal${year}-${dateString}`}
              >
                <div class="absolute right-4 top-12 z-10 h-4 font-monospace text-sm text-palette-gray sm:top-9">
                  共 {wordCount} 字，预计 {timeToRead} 分钟读完
                </div>
                <a
                  class={cn(
                    'absolute left-0 top-24 w-20 text-right font-monospace text-lg',
                    'sm:relative sm:top-0 sm:mb-4 sm:text-left md:-left-8 lg:-left-8',
                    'colorModeTransition',
                    'date',
                  )}
                  href={`/journal${year}-${dateString}`}
                >
                  {dateString}
                </a>
                <article
                  class={cn(
                    'relative rounded-2xl bg-palette-card px-10 pb-2 pt-12 sm:px-4 sm:pt-8 md:px-8',
                    'colorModeTransition',
                    'noteContent',
                  )}
                >
                  <Content />
                </article>
              </li>
            ))}
          </ul>
        </li>
      ))}
    </ul>
  </Container>
</PageLayout>
