---
import type { CollectionEntry } from 'astro:content';
import { dirname, join } from 'node:path';
import dayjs from '@lib/dayjs';
import { getExcerpt, getImage, getReadInfo } from '@lib/html';
import { cn } from '@lib/utils';
import HoverEffect from '@react/components/HoverEffect';
import { Image } from 'astro:assets';
import { getEntry } from 'astro:content';


interface Props {
  post: CollectionEntry<'blog'>;
  gridLayout: 'rows' | 'tiles';
  narrow: boolean;
}

const { gridLayout, narrow, post } = Astro.props;
const entry = await getEntry({ collection: 'blog', id: post.id });
const hero = getImage(join('content/blog/', dirname(post.id), post.data.hero));
const excerpt = getExcerpt(entry!.rendered!.html!);
const { timeToRead, wordCount } = getReadInfo(entry!.rendered!.html!);
---

<style>
@reference '../styles/global.css';

.ArticleLink {
  transition: transform 0.33s var(--ease-out-quart);
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  &:hover .ImageContainer,
  &:focus .ImageContainer {
    @apply -translate-y-px;
    box-shadow:
      0 50px 80px -20px rgba(0, 0, 0, 0.27),
      0 30px 50px -30px rgba(0, 0, 0, 0.3);
  }
  &:hover h2,
  &:focus h2 {
    @apply text-accent;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
  @media (max-width: 639px) {
    &:hover .ImageContainer {
      transform: none;
      box-shadow: initial;
    }
    &:active {
      transform: scale(0.97) translateY(3px);
    }
  }
}
.listItemRow {
  @apply relative grid grid-cols-1 items-center rounded-[5px] bg-card;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-bottom: 50px;
  transition:
    background 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
  @media (width >= 40rem) {
    grid-column-gap: 24px;
    grid-template-columns: minmax(0, 2fr) minmax(0, 3fr);
    background: transparent;
    border-radius: 0;
    box-shadow: none;
  }
  @media (width >= 64rem) {
    grid-column-gap: 96px;
    grid-template-columns: minmax(0, 1fr) 500px;
  }
}
.listItemTile {
  @apply relative rounded-[5px] bg-card;
  margin-bottom: 40px;
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  transition:
    background 0.25s var(--ease-in-out-quad),
    color 0.25s var(--ease-in-out-quad);
  @media (width >= 40rem) {
    margin-bottom: 0;
    background: transparent;
    border-radius: 0;
    box-shadow: none;
  }
}
.ImageContainer {
  @apply relative overflow-hidden;
  height: var(--image-height);
  margin-bottom: 0;
  box-shadow: none;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  transition:
    transform 0.3s var(--ease-out-quad),
    box-shadow 0.3s var(--ease-out-quad);
  & > div {
    height: 100%;
  }
  @media (width >= 40rem) {
    margin-bottom: var(--image-margin-bottom);
    box-shadow:
      0 30px 60px -10px rgba(0, 0, 0, 0.3),
      0 18px 36px -18px rgba(0, 0, 0, 0.33);
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  &.narrow {
    box-shadow:
      0 30px 60px -10px rgba(0, 0, 0, 0.22),
      0 18px 36px -18px rgba(0, 0, 0, 0.25);
  }
}
.limitToTwoLines {
  @apply line-clamp-2 text-ellipsis whitespace-normal sm:line-clamp-3;
  overflow-wrap: normal;
}
.Title {
  @apply text-primary font-sans font-bold;
  @apply leading-[1.33];
  transition: color 0.3s ease-in-out;
}
</style>

<a
  class={cn(
    'ArticleLink',
    'relative left-0 top-0 z-[1] block h-full w-full rounded-[5px]',
  )}
  href={`/${post.id}`}
>
  <HoverEffect />
  <div class={gridLayout === 'rows' ? 'listItemRow' : 'listItemTile'}>
    <div
      class={cn('ImageContainer', { narrow })}
      style={{
        '--image-height': `${gridLayout === 'tiles' ? '280px' : '250px'}`,
        '--image-margin-bottom': `${gridLayout === 'tiles' ? '30px' : '0px'}`,
      }}
    >
      <Image alt={`文章《${post.data.title}》的题图`} class="w-full h-full object-cover" src={hero!} width={720} />
    </div>
    <div class="flex h-full flex-col">
      <h2
        class={cn(
          'Title',
          'limitToTwoLines',
          'mb-[10px] px-5 pt-[30px] text-[21px] sm:mb-[15px] sm:px-0 sm:pt-0 sm:text-2xl sm:leading-[1.45]',
        )}
      >
        {post.data.title}
      </h2>
      <p
        class={cn(
          'limitToTwoLines',
          'mb-2.5 px-5 font-serif text-base text-gray',
          'colorModeTransition sm:mb-5 sm:max-w-full sm:px-0 sm:py-0',
        )}
      >
        {excerpt}
      </p>
      <div class="colorModeTransition mt-auto px-5 pb-[30px] text-base text-gray opacity-60 sm:max-w-full sm:px-0 sm:pb-0 sm:pt-0">
        {dayjs(post.data.date).fromNow()} · {wordCount} 个字 ·{' '}
        {timeToRead} 分钟读完
      </div>
    </div>
  </div>
</a>
