---
import { cn } from '@lib/utils';
import { ThemedRoughNotation } from '@react/components/ThemedRoughNotation';
import { ChevronRight, Hash } from 'lucide-react';
import Bio from './Bio.astro';
import Container from './Container.astro';


interface Props {
  tag?: string;
  title?: string;
  description?: string;
}

const { description, tag, title } = Astro.props;
---

<style>
@reference '../styles/global.css';

.HeroHeading {
  a {
    color: var(--color-accent-foreground);
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}
</style>

<Container class="relative">
  {tag
    ? (
    <div class="my-10 flex flex-col gap-6 sm:my-16 sm:flex-row sm:items-center sm:justify-between lg:my-28">
      <h1
        class={cn(
          'HeroHeading flex items-center',
          'colorModeTransition text-[24px] font-semibold not-italic leading-[1.2]',
          'sm:text-[30px] lg:text-[36px]',
        )}
      >
        关于
        <small>
          <Hash className="ml-2 text-accent-foreground opacity-70" client:only="react" />
        </small>
        <ThemedRoughNotation
          animate={false}
          client:only="react"
          colorVar="--accent-foreground"
          colorAlpha={0.2}
          show
          strokeWidth={2}
          type="underline"
        >
          {tag}
        </ThemedRoughNotation>
        的文章：
      </h1>
      <a
        class="hidden text-sm underline-offset-4 hover:text-accent-foreground hover:underline sm:inline-flex sm:items-center"
        href="/articles"
      >
        <ChevronRight className="mr-2" client:only="react" />
        所有文章
      </a>
    </div>
  )
: (
    <div
      class={cn('mx-0 my-14 w-full sm:my-[100px] md:w-4/5')}
      style={{ maxWidth: `800px` }}
    >
      <h1
        class={cn(
          'HeroHeading',
          'colorModeTransition mb-6 text-[32px] font-semibold not-italic leading-[1.15]',
          'sm:mb-10 sm:text-[52px]',
        )}
      >
        {title || '周骅的博客'}
      </h1>
      {!title && (
        <p class="colorModeTransition">
          <ThemedRoughNotation
            animate={false}
            client:only="react"
            colorVar="--accent-foreground"
            colorAlpha={0.2}
            show
            type="highlight"
          >
            有趣的灵魂终会相遇
          </ThemedRoughNotation>
        </p>
      )}
      {description && (
        <p class="colorModeTransition">
          <ThemedRoughNotation
            animate={false}
            client:only="react"
            colorVar="--accent-foreground"
            colorAlpha={0.2}
            show
            type="highlight"
          >
            {description}
          </ThemedRoughNotation>
        </p>
      )}
    </div>
  )}
  <div class="mb-20 hidden items-center justify-between md:flex md:mb-[100px]">
    <Bio />
  </div>
</Container>
