---
import { cn } from '@lib/utils';
import { RoughNotation } from 'react-rough-notation';
import Bio from './Bio.astro';
import Container from './Container.astro';


interface Props {
  tag?: string;
  title?: string;
  description?: string;
}

const { description, tag, title } = Astro.props;
---

<style>
@reference '../styles/global.css';

.HeroHeading {
  a {
    @apply text-accent;
    transition:
      background 0.25s var(--ease-in-out-quad),
      color 0.25s var(--ease-in-out-quad);
  }
}
</style>

<Container class="relative">
  { tag
? (
    <div class="my-10 flex flex-col gap-6 sm:my-16 sm:flex-row sm:items-center sm:justify-between lg:my-28">
      <h1
        class={cn(
          'HeroHeading',
          'colorModeTransition text-[24px] font-semibold not-italic leading-[1.2]',
          'text-primary sm:text-[30px] lg:text-[36px]',
        )}
      >
        关于
        <small>
          <span
            class="ml-2 mr-1 text-accent opacity-70 iconify heroicons--hashtag-solid"
          />
        </small>
        <RoughNotation
          animate={false}
          color="rgb(var(--color-accent))"
          show
          strokeWidth={2}
          type="underline"
        >
          {tag}
        </RoughNotation>{' '}
        的文章：
      </h1>
      <a
        class="hidden text-sm underline-offset-4 hover:text-accent hover:underline sm:inline-flex sm:items-center"
        href="/articles"
      >
        <span class="mr-2 iconify fa6-solid--angle-right" />
        所有文章
      </a>
    </div>
  )
: (
    <div
      class={cn('mx-0 my-14 w-full text-primary sm:my-[100px] md:w-4/5')}
      style={{ maxWidth: `800px` }}
    >
      <h1
        class={cn(
          'HeroHeading',
          'colorModeTransition mb-6 text-[32px] font-semibold not-italic leading-[1.15]',
          'sm:mb-10 sm:text-[52px]',
        )}
      >
        {title || '周骅的博客'}
      </h1>
      {!title && (
        <p class="colorModeTransition">
          <RoughNotation
            animate={false}
            client:only="react"
            color="rgb(var(--color-accent) / 0.4)"
            show
            type="highlight"
          >
            有趣的灵魂终会相遇
          </RoughNotation>
        </p>
      )}
      {description && (
        <p class="colorModeTransition">
          <RoughNotation
            animate={false}
            client:only="react"
            color="rgb(var(--color-accent) / 0.4)"
            show
            type="highlight"
          >
            {description}
          </RoughNotation>
        </p>
      )}
    </div>
  )}
  <div class="mb-20 hidden items-center justify-between md:flex md:mb-[100px]">
    <Bio />
  </div>
</Container>
